body {
	padding-bottom: 10px;
}

/* HEADER / NAV 
-------------------------------------------------- */
/*
.header {
	padding-top:10px;
	padding-bottom:10px;
	background-color: #3d3d3d;
	margin-bottom: 20px;
}
#headerImgDiv {
	float:left;
}
#headerImg {
	width:80px;
}
#headerTitleDiv {
	display: table;
	height: 80px;
}
#headerTitle {
	color: #d9d9d9;
	display: table-cell;
  	vertical-align: middle;
  	padding-left: 10px;

  	font-size: 48px;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}
*/
.header {
	padding-top:8px;
	padding-bottom:8px;
	background-color: #3d3d3d;
	margin-bottom: 20px;
}
#headerImgDiv {
	float:left;
}
#headerImg {
	width:30px;
}
.headerContainer {
	margin-bottom: 10px;
}

/* VISUAL 
-------------------------------------------------- */
#visualization {
	width: 900px; 
	height: 800px;
}
.formHeaderLabel {
	font-family: helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #c4c4c4;
	line-height: 1;
}

/* RIGHT SIDE
-------------------------------------------------- */
.btn-default {
	margin-top:5px;
}